/* ============================================
BASE STYLES
============================================ */

html {
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  line-height: 1.4;
}

/* ==========================================================================
   LAYOUT
   ========================================================================== */

.headings {
  text-align: center;
}

/* * {
  box-sizing: border-box;
} */

div,
section,
main,
nav {
  outline: 1px solid #ccc;
}

/* Small only */

@media screen and (max-width: 39.9375em) {
}

/* Medium and up */

@media screen and (min-width: 40em) {
  /* main menu */
}

/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
}

/* Large and up */

@media screen and (min-width: 64em) {
}

/* Large only */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {
}

/* ==========================================================================
   MODULES
   ========================================================================== */

/* ==========================================================================
   THEME
   ========================================================================== */
